<div class="card">
  <div class="card-header">  </div>

  <div class="card-body">

    <div class="form-group">
      <label >Login</label>
      <input type="text" class="form-control" [ngModel]="user.login" >
    </div>

    <div class="form-group">
      <label >Titre</label>
      <input type="text" class="form-control" [ngModel]="user.password" >
    </div>

    <div class="form-group">
      <label >Last Name</label>
      <input type="text" class="form-control" [ngModel]="user.nom" >
    </div>

    <div class="form-group">
      <label >First name  </label>
      <input type="text" class="form-control" [ngModel]="user.prenom" >

    </div>

  </div>

  <div class="card-footer">
    <button class="btn btn-outline-dark btn-block"(click)="save()">se Connecter  </button>
  </div>
</div>

