<div class="card">
  <div class="card-head">
  </div>

  <div class="card-body">

    <div class="form-group">
      <label>Ref</label>
      <input type="text" class="form-control" [(ngModel)]="video.ref">
    </div>
    <div class="form-group">
      <label>Titre</label>
      <input type="text" class="form-control" [(ngModel)]="video.titre">
    </div>
    <div class="form-group">
      <label>Descripttion</label>
      <input type="text" class="form-control" [(ngModel)]="video.description">
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input type="text" class="form-control" [(ngModel)]="video.tags">
    </div>
    <div class="form-group">
      <label>Date Uploads</label>
      <input type="text" class="form-control" [(ngModel)]="video.dateUpload">
    </div>
   <div class="form-group">
      <label>Likes</label>
      <input type="number" class="form-control" [(ngModel)]="video.likes">
    </div>
    <div class="form-group">
      <label>Dislikes</label>
      <input type="number" class="form-control" [(ngModel)]="video.dislikes">
    </div>

    <div class="form-group">
      <label>Path</label>
      <input type="text" class="form-control" [(ngModel)]="video.path">
    </div>

    <div class="form-group">
      <label>URL</label>
      <input type="text" class="form-control" [(ngModel)]="video.url">
    </div>
    <div class="form-group">
      <label>Totale Views</label>
      <input type="number" class="form-control" [(ngModel)]="video.totalVue">
    </div>

  </div>
  <div class="card-footer">
    <button class="btn btn-outline-dark btn-block" (click)="save()">save</button>
  </div>
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
    </div></div>

</div>

