<div class="card">
  <div class="card-header  bg-warning text-dark "> Ajouter un utilisateur</div>

  <div class="card-body">

    <div class="col-md-5">
      <label>Ref </label>
      <input type="text" class="form-control" [(ngModel)]="user.ref">
    </div>


    <div class="col-md-5">
      <label>Login</label>
      <input type="text" class="form-control" [(ngModel)]="user.login">
    </div>

    <div class="col-md-5">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password">
    </div>


    <div class="card">
      <div class="card-header  bg-warning text-dark "> Ajouter Une chaine</div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-8"><label>Ref</label>
            <input type="text" class="form-control" [(ngModel)]="chaine.ref">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6"><label>Titre</label>
            <input type="text" class="form-control" [(ngModel)]="chaine.titre">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6"><label>Abonnee</label>
            <input type="number" class="form-control" [(ngModel)]="chaine.nombreAbonnee">
          </div>
        </div>


      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger btn-block" (click)="addChaine()"> + </button>
      </div>

    </div>


    <div class="card">
      <div class="card-header bg-warning text-dark">List des chaines</div>

      <div class="card-body">

        <table class="table table-hover table-striped">
          <thead>
          <th>ref</th>
          <th>Titre</th>
          <th>Abonnee</th>
          </thead>
          <tbody>
          <tr *ngFor="let u of user.chaines">
            <td>{{u.ref}}</td>
            <td>{{u.titre}}</td>
            <td>{{u.nombreAbonnee}}</td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="card-footer">
        <button class="btn btn-outline-info btn-block" (click)="save()" [disabled]="!validateSave()">Save</button>
      </div>
    </div>

  </div>
