<div class="card">
  <div class="card-header">  </div>

  <div class="card-body">

    <div class="form-group">
      <label >Ref</label>
      <input type="text" class="form-control" [ngModel]="chaine.ref" >
    </div>

    <div class="form-group">
      <label >Titre</label>
      <input type="text" class="form-control" [ngModel]="chaine.titre" >
    </div>

    <div class="form-group">
      <label >Descreption</label>
      <input type="text" class="form-control" [ngModel]="chaine.descreption" >
    </div>

    <div class="form-group">
      <label >nombreAbonnee</label>
      <input type="number" class="form-control" [ngModel]="chaine.nombreAbonnee" >

    </div>
    <div class="form-group">
    <label >Login</label>
    <input type="text" class="form-control" [ngModel]="chaine.login" >
  </div>

    <div class="form-group">
      <label >Password</label>
      <input type="text" class="form-control" [ngModel]="chaine.password" >
    </div>



  </div>

  <div class="card-footer">
<button class="btn btn-outline-dark btn-block"(click)="save()">Valider </button>
  </div>
</div>

